
mat-form-field {
  width: 100%;
}

hr {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}

button {
  float: right;
}

.container {
  border: 2px solid #dedede;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  height: 200px;
  overflow: scroll;
}
