<mat-accordion class="headers-align">
  <mat-expansion-panel *ngFor="let req of requests | async">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>{{req.data.requester}}</h3>
      </mat-panel-title>
      <mat-panel-description>
        <h3>{{req.data.project}}</h3>
        <h3>{{req.data.summary}}</h3>
        <h3>{{req.data.assignee}}</h3>
        <h3 class="time">{{req.data.createdAt | date: 'h:mm a'}}</h3>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="markdown-background">
      <markdown>{{req.data.description}}</markdown>
    </div>
    <mat-action-row>
      <button mat-button (click)='selected.emit(req)' color="primary">
          <mat-icon>create</mat-icon>
        </button>
        <button mat-button (click)="deleted.emit(req.id)" color="accent">
          <mat-icon>assignment_turned_in</mat-icon>
        </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
