mat-accordion {
  width: 100%;
}

.mat-expansion-panel-header-title {
  margin-right: -30%;
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-around;
  align-items: center;
}

.time {
  color: #3f51b5c2;
}
