mat-card {
  padding: 0;
}

mat-card-header {
  margin-left: 3%;
}

mat-card-title h2 {
  margin-bottom: 0;
  padding-bottom: 0;
}

mat-card-subtitle h2 {
  margin-bottom: 0;
  padding-bottom: 0;
}

mat-card-subtitle {
  margin-left: 15px;
}

mat-expansion-panel {
  width: 350px;
}

mat-card-content {
  padding: 15px 10px;
}
