<div class="list-grid">
  <mat-card>
    <mat-card-header>
      <mat-card-title><h2>People in need...</h2></mat-card-title>
      <mat-card-subtitle>Please help us!</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <mat-accordion>
        <mat-expansion-panel *ngFor="let req of requests | async">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h4>{{req.data.requester}} | {{req.data.project}} | {{req.data.assignee}}</h4>
            </mat-panel-title>
            <mat-panel-description>
              <h3>{{req.data.name}}</h3>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <markdown>{{req.data.description}}</markdown>
          <button mat-icon-button (click)='selected.emit(req)'>
            <mat-icon>create</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="deleted.emit(req.id)">
            <mat-icon>assignment_turned_in</mat-icon>
          </button>
        </mat-expansion-panel>
      </mat-accordion>

    </mat-card-content>
  </mat-card>
</div>
