<div class="list-grid">
  <mat-card>
    <mat-card-header>
      <mat-card-title><h2>People in need...</h2></mat-card-title>
      <mat-card-subtitle>Please help us!</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item class="mat-list-option"
          *ngFor="let req of requests | async"
          (click)="selected.emit(req)">
          <h3 matLine>Name: {{req.data.requester}}</h3>
          <h4 matLine>Requesting from: {{req.data.assignee}}</h4>

          <mat-accordion>
            <mat-expansion-panel matLine>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{req.data.project}}
                </mat-panel-title>
                <mat-panel-description>
                  {{req.data.name}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              {{req.data.description}}
            </mat-expansion-panel>
          </mat-accordion>

          <button mat-button color="accent" (click)="deletingPost.emit(req.id)">
            <mat-icon matListIcon>clear</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
