.request-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 10px;
  justify-content: center;
}

.request-list {
  grid-column: 2/5;
  grid-row: 1;
  margin-top: 10px;
}

.request-detail {
  grid-column: 5/7;
  grid-row: 1;
  margin-top: 10px;
}

.landing-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 10px;
}

.landing-card {
  grid-column: 2 / 3;
}

@media screen and (max-width: 1470px) {
  .request-detail {
    grid-column: 2/7;
    grid-row: 1;
  }

  .request-list {
    grid-column: 2/7;
    grid-row: 2;
  }
}

@media screen and (max-width: 800px) {
  .request-detail {
    grid-column: 1/8;
    grid-row: 1;
  }

  .request-list {
    grid-column: 1/8;
    grid-row: 2;
  }
}

