<mat-toolbar color="primary" class="mat-elevation-z3">
  <button (click)="sidenav.toggle()" mat-raised-button color="accent">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{title}}</span>

  <div *ngIf="auth.user | async as user">
    <span class="name">{{user.displayName}}</span>
  </div>

</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" class="mat-elevation-z5">
      <nav>
        <a mat-button
           color="accent"
           class="nav-link"
           *ngFor="let link of links"
           [routerLink]="link.path"
           routerLinkActive="active"
           [disabled]="link.disabled">
           <mat-icon>{{link.icon}}</mat-icon>
           {{link.label}}
        </a>
      </nav>
    </mat-sidenav>

  <router-outlet></router-outlet>
</mat-sidenav-container>
