<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Request Help</h2>
      <hr align="left">
    </mat-card-title>
  </mat-card-header>
  <form (submit)="saved.emit(selectedRequest)" [formGroup]="group">
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Your Name" required [matAutocomplete]="eauto1"
        formControlName="requester" type="text" name="requester">
        <mat-autocomplete #eauto1="matAutocomplete">
          <mat-option *ngFor="let user of userRef | async" [value]="user.users.displayName">
            {{user.users.displayName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Request Help From..." required [matAutocomplete]="eauto2"
        formControlName="assignee" type="text" name="assignee">
        <mat-autocomplete #eauto2="matAutocomplete">
          <mat-option *ngFor="let user of userRef | async" [value]="user.users.displayName">
            {{user.users.displayName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Project" required [matAutocomplete]="pauto"
        formControlName="project" type="text" name="project">
        <mat-autocomplete #pauto="matAutocomplete">
          <mat-option *ngFor="let p of projects" [value]="p">
            {{p}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Summary" required maxlength="21"
        formControlName="summary" type="text" name="summary">
      </mat-form-field>
      <div class="not-valid" *ngIf="!group.pristine && group.get('summary').hasError('maxlength')">
        Too many letters broski! Please get rid of a letter.
      </div>
      <mat-form-field>
        <textarea matInput placeholder="Description (Use Markdown)" required
        formControlName="description" type="text" name="description"></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit" color="primary">
        Save
        <mat-icon>save</mat-icon>
      </button>
      <button  mat-raised-button type="button" color="accent" (click)="cancelled.emit(selectedRequest)">
        Cancel
        <mat-icon>clear</mat-icon>
      </button>
    </mat-card-actions>
  </form>
</mat-card>
