<div class="wrapper">
  <div class="grid">
    <div *ngIf="auth.user | async; then authenticated else guest">
        <!-- template will replace this div -->
    </div>

    <ng-template #guest>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h1>Howdy, GUEST</h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Login to get started...</p>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="auth.googleLogin()" mat-raised-button color="accent">
            Login with Google
            <mat-icon>g_translate</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </ng-template>

    <ng-template #authenticated>
      <div *ngIf="auth.user | async as user">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h1>Howdy, {{ user.displayName }}</h1>
            </mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <p mat-line><strong>UID:</strong> {{ user.uid }}</p>
            <p mat-line><strong>Email:</strong> {{ user.email }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button routerLink="/help-requests" mat-raised-button color="primary">
              HelpQ
              <mat-icon>loyalty</mat-icon>
            </button>
            <button (click)="auth.signOut()" mat-raised-button color="accent">
              Logout
              <mat-icon>close</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-template>
  </div>
</div>
