mat-card-content {
  padding-left: 7px;
  padding-top: 20px;
}

mat-card-actions {
  padding-left: 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 10px;
}

.grid {
  grid-column: 3/6;
}

@media screen and (max-width: 800px) {
  .grid {
    grid-column: 2/7;
  }
}

@media screen and (max-width: 600px) {
  .grid {
    grid-column: 1/8;
  }
}
